node_modules
.idea
.DS_Store

# ignore all files in any directory named `secret`
**/secret/*

# except files ending in `.template` or `.md`
!**/secret/*.template
!**/secret/*.md

# ignore .vagrant directory
.vagrant

# and the VSCode typings directory
typings

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

config/database.js
config/auth.js

# ignore all files in any directory named `secret`
**/auth/*

